*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.container{
    max-width: 1000px;
    margin: auto;
}
.atext{
    font-style:normal;
    list-style: none ;
    
}
.atext a{
    text-decoration: none;
    color: black;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.space{
    justify-content: space-between;
}
.alignitem{
    align-items: center;
}
.p20{
    padding-bottom: 20px;
}


/*Header*/
.imgheader{
    width: 50px;
    height: 50px;
}
.imglink{
    width: 25px;
    height: 25PX;
}
.wHeader{
    width: 100%;
}
.b{background-color: brown;}
.nav1{
    width: 30%;
}
.nav2{
    width: 10%;
}

/*Héro*/
.margintop{
    margin-top: 50px;
}
.margin20{
    margin-top: 20px;
}
.textcenter{
    text-align: center;
}

/*Section 2*/
.divw{
    width: 200px;
    height: 200px;
   text-align: center;
}
.imgprojet{
    width: 100%; 
   
}
.psection{
    background-color: aqua;
 
    text-align: center;
}
/**/
/**/
/*section 4 compétances*/
.ba{
    background-color: coral;
    
}
.imgcom{
    width: 100px;
    height: 100px;

}

/*footer*/
.reseau a{
    display: block;
}
.pad{
    padding-top: 30px;
}